body{
    font-family: Arial, Helvetica, sans-serif;
}
/*FORMATOS HEADER Y NAV*/
h1,h2{
    font-family: 'Montserrat', sans-serif;
    
}
h1{
   font-weight: 300;
   font-size: 56px;
}
h2{
   font-weight: 200;
   font-size: 48px;
}
header{
    background-image: url("../assets/img-principal.jpg");
    color:white;
    background-position: center;
    background-size: cover;
    text-align: left;
}
nav{
    height: 65px;
    background-color: #00bcd4;
    text-align: center;
    color:white;
}
.opaque{
    background-color: rgba(0,0,0,0.6);
    padding: 7em;
}
.menu-burger{
    float: right;
    margin-top: 1px;
    margin-right: 15px;
    width: 50px;
}
.slogan{
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 5px;
    float:left;
    font-size: 30px;
    font-family: 'Righteous', cursive;
}

.menu { 
    float:rigth; 
    text-align: right; 
} 
.menu li { 
    display:inline-block; 
    height:56px; 
    padding:20px 12px; 
} 
 .menu a { 
    color:white; 
    text-decoration: none; 
    font-size: 18px;
    font-family: 'Righteous', cursive;
    font-weight: bolder;
} 
.menu a:hover { 
    color:#fff;
    background-color: #424c55;
    border-radius: 10%;
    padding: 0.5em;
} 
    
/*FORMATOS PARA LA SECCION ACERCA DE NOSOTROS*/
.format-text{
    font-family: 'Acme', sans-serif;
    font-size: 19px;
    text-align: justify;
    line-height: 1.6;
}

.format-link{
    text-decoration: none;
    background-color: #424c55;
    padding: 1em;
    border-radius: 5%;
    color:white;
    font-weight: bolder;
}

section img{
    max-width: 100%;
    height: 35vh;
    border-radius: 10%;
 }
 .format-video{
     height: 50vh;
     width: 100%;
 }
 
 /*FORMATOS PARA LOS TITULOS DE LA SECCION DE DESTINOS*/
 .format-title-trips{
     text-align: center;
 }
.format-trips{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Righteous', cursive;
    
}

.format-links-trips{
    margin-left: 55px;
}

/*FORMATOS DEL FOOTER*/
footer{
    height: 56px;
    background-color: #00bcd4;
    text-align: center;
    color:white;
    padding:2em;
}

/*formatos Seccion de Contacto*/
.format-contact{
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 20px;

}
/*fomatos generales diseño */
.format-image:hover {
    opacity: 0.5;
    transform: scale(1.1);
  }